
.heading {
    position: absolute;
    right: 500px;
    font-size: 35px;
  }

  .addButton{
    position: absolute;
    right: 25px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 .container{
  max-width:1200px;
  margin: 0 auto;

 }
  
 *{
  color:black;
 
 }


 .book{

 margin-left: 1270px;
 margin-top:0px;

 }

