<div class="footer">
    <div class="main">
    <div class="div1">
     <a routerLink="about"><b class="btn" >About Us</b></a>
    <a routerLink="privacy"><b class="btn" >Privacy Policy</b></a>
    <a routerLink="terms"><b class="btn" >Terms of Service</b></a>
        
    </div>
    <div class="div2">
      <p style="margin-left: 25px; font-weight: 500;">Email: support@manage.com<br/>
        Phone: +1 (555) 123-4567</p>
        <p><b>&copy; 2024 Employee Management App</b></p>
    </div>
    <div class="div3">
     
        <p class="span">Follow us on with our latest news, updates, and features</p>
      
      <div class="a"><a href="https://www.linkedin.com/company/infomatics-corp/?originalSubdomain=in"><img src="assets/icons/linkedin2.png" style="height:25px; width:25px;" class="img"></a>
        
        <a href="https://www.instagram.com/infomaticsindia/"><img src="assets/icons/instagram.png" style="height:25px; width:25px; margin-left:10px" class="img"></a>
        
      </div>
    </div>
  </div>
  
  </div>
  
  
  
  
