<div>
<h4 class="heading">HTML</h4>
<ul class="ul">
   <li> Structure of HTML</li>
   <li> Basics of HTML tags</li>
   <li>Semantic Tags</li>
   <li> Hyperlinks in HTML</li>
   <li>Typography basics</li>
    <li>Attributes for Tags</li>
    
</ul>


<h4 class="heading">CSS</h4>
<ul class="ul">
   <li>Ways of writing CSS (inline, internal, external)</li>
   <li>Linking external stylesheet of CSS to HTML</li>
   <li>Styling texts</li>
   <li>Different units in CSS (px, rem, em)</li>
   <li>Float in CSS, clearing  floats</li>
   <li>Flexbox </li>
   <li>CSS Grids</li>
   <li>Layout Design techniques</li> 
   <li>Mobile responsiveness</li>
   
    
</ul>

<h4 class="heading">Angular</h4>
<ul class="ul">
    <li>Introduction, Version, features, architecture, html & css basics, typescript basics.</li>
    <li>File & Folder structure, directives, Bindings, Components & Modules, Pipes, Services</li>
    <li>  Forms , Routing , Lifecycle hooks</li>
    <li>  Angular Material installation, basics </li>
    <li> Data transfer between components, Route guard, Observable & Promises.</li>
   
</ul>

<h4><strong>Course-link: </strong></h4>
    <p>https://www.youtube.com/playlist?list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ
    https://www.udemy.com/share/101WAU3@nuyxyoI_dEBSdaUZUoC421VDenUGk1BGLWZrLXYRP10gCcZTV_fk2VkXsOgC0OIc/</p>
    
    <p>Uname: trainee@infomaticscorp.com <br>
        Pass: trainee$123
      </p>


      <h4 class="heading"> Java & Spring Boot</h4>
      <ul class="ul">
    <li>Java Basics, OOPs, Exception Handling, Collection Framework, Interfaces .</li>
    <li>Spring Framework , Spring Boot  Dependency Injection</li>
    <li>Maven Basics</li>
    <li>Hibernate basics, annotations, mapping, cache.</li>
    <li>SQL basic commands.</li>
    <li>Git commands</li>
</ul>




<h4 class="heading">JavaScript</h4>
    <ul class="ul">
    <li>JavaScript workflow (Basics of Document Object Model)</li>
    <li> Link JavaScript to HTML</li>
    <li>Syntax Basics and DataTypes in JS </li>
    <li>Variables in JavaScript</li>
    <li>Conditionals and loops in JS</li>
    <li>Functions in JS</li>
    <li> Array in JS</li>
    <li>Array methods in JS</li>
    <li>Objects in JS</li>
    <li> ES6 fundamentals</li>
    <li> DOM Manipulation </li>
    <li> Callback functions in JS</li> 
    <li>  Promises in JS</li>
    <li> Async / Await in JS</li>
    <li>  Fetch API</li>
    <li> Import and export statements</li>
    <li>   Cookies, session and local storage</li>
        </ul>

       <h4 class="heading">Git and Github</h4>
       <ul class="ul">
        <li> Difference between git and github</li>
        <li>  Initialization of git repository</li>
        <li> Creating and switching a branch in git</li>
        <li> Renaming and deletion of branches</li>
        <li> Staging and Committing changes</li>
        <li> Merging branches in git</li>
        <li> Types of merging</li>
        <li> Merge Conflicts and resolving them </li>
        <li> Stashing in git</li>
        <li> Github repository creation</li>
        <li> Connecting remote repositories</li>
        <li> Git Pull</li>
        <li> Git Fetch</li>
        <li> Cloning and forking repositories</li>
        <li> Push and Pull of remote repositories</li>
    </ul>

</div>

