
.heading {
    position: absolute;
    right: 500px;
    font-size: 35px;
  }

  .addButton{
    // position: absolute;
  top: 10px;
 left: 1220px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 .container{
  max-width:1200px;
  margin: 0 auto;

 }
  
 *{
  color:black;
 
 }


 .book{

 margin-left: 1140px;
 margin-top:10px;

 }



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 47, 15);
  color: black;
  padding: 10px 0;
  
}

.main {
  display: flex;
  justify-content: space-between; /* Distribute space between children */
  align-items: center; /* Align children vertically */
  padding: 0 20px; /* Add padding to the sides */
}

.div1 {
  display: flex;
}

.div1 a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-weight: bold;
}

.div2 {
  text-align: center; /* Align content in the center */
}

.div2 p {
  font-weight: 500;
}

.div3 {
  display: flex;
  align-items: center; /* Align children vertically */
}

.div3 .a {
  margin-left: 20px;
}

.img {
  border-radius: 10px;
}

.span {
  font-size: 17px;
  font-weight: 500;
}