

<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Employee ID: </b></label> {{employeeDetail.id}} 
    </div>
    <div>
        <label> <b> First Name: </b></label> {{employeeDetail.firstName}} 
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employeeDetail.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employeeDetail.email}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{employeeDetail.address}}
    </div>
    <div>
        <label> <b> Phone Number: </b></label> {{employeeDetail.phoneNumber}}
    </div>
    <div>
        <label> <b> Designation: </b></label> {{employeeDetail.designation}}
    </div>
    <div>
        <label> <b> Date of Joining: </b></label> {{employeeDetail.dateOfJoining| date}}
    </div>
</div> 

